*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/default/
!/checks/default/default.nix
!/flake.lock
!/flake.nix
!/packages/
!/packages/default/
!/packages/default/default.nix
!/packages/default/main.py
!/packages/default/prm/
!/packages/default/prm/**
!/packages/html/
!/packages/html/default.nix
!/packages/html/index.html
!/packages/html/script.js
!/packages/html/style.css
!/packages/sans/
!/packages/sans/default.nix
!/packages/sans/main.py
!/packages/wfdb/
!/packages/wfdb/default.nix
