#action-div,
#activation-function-control-div,
#loss-control-div,
#neuron-control-1-div,
#neuron-control-2-div,
#neuron-control-3-div {
  background-color: silver;
}

#input-control-1-div,
#input-control-2-div,
#input-control-3-div,
#input-control-4-div,
#input-control-5-div {
  background-color: gainsboro;
}

#reference-control-div,
#start-pause-reset-control-div {
  background-color: darkgray;
}

.grid-container {
  height: 600px;
  line-height: 1.1;
  text-align: center;
  width: 1050px;
}

.grid-item {
  box-sizing: border-box;
  float: left;
  height: 150px;
  width: 150px;
}

.circle-operation {
  fill: white;
  stroke: black;
}

.annotation-svg {
  stroke: black;
}

.border-solid {
  border: solid;
}

.fill-white {
  fill: white;
}

.fill-gainsboro {
  fill: gainsboro;
}

.fill-silver {
  fill: silver;
}

.fill-darkgray {
  fill: darkgray;
}

.visibility-hidden {
  visibility: hidden;
}

text {
  dominant-baseline: central;
  text-anchor: middle;
}

.element-right {
	margin-left: auto;
}

nav {
	display: flex;
}
